<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" charset="utf-8" th:src="@{../../js/wangEditor.min.js}"></script>
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <link th:href="@{../../js/layui/css/layui.css}" rel="stylesheet"/>
    <style type="text/css">
        .toolbar {
            border: 1px solid #ccc;
        }

        .text {
            border: 1px solid #ccc;
            height: 700px;
        }
        div.title-box {
            margin-bottom: 24px;
        }
        #title {
            display: block;
            width: 100%;
            height: 40px;
            line-height: 40px;
            box-sizing: border-box;
            padding: 0 16px;
            border: none;
            background-color: #efefef;
            color: #4f4f4f;
        }
        .btns{
            margin-top: 20px;
            margin-left: 20px;
        }
    </style>
</head>
<body>

<div class="title-box">
    <input type="input"  th:value="${article.title}"  placeholder="请输入标题" value="" id="title">
    <input type="hidden"  th:value="${article.aid}"  value="" id="aid">
</div>
<div id="div1" class="toolbar">
</div>

<div id="div2" class="text" style="min-height: 400px"> <!--可使用 min-height 实现编辑区域自动增加高度-->
    <p th:utext="${article.content}">请输入内容</p>

</div>


<div class="btns">
    <button class="layui-btn layui-btn-normal" onclick="update()">修改</button>
</div>

<script type="text/javascript">
    var E = window.wangEditor
    //注意只有两个参数时才能设置编辑器大小
    var editor = new E('#div1', '#div2')  // 两个参数也可以传入 elem 对象，class 选择器
    var msg;
    // 或者 var editor = new E( document.getElementById('editor') )

    /* 获取元素 */
    /* editor.customConfig.debug = location.href.indexOf('publishTask.html') > 0 */

    // 限制一次最多上传 5 张图片
    editor.customConfig.uploadImgMaxLength = 5

    // 将图片大小限制为 3M
    editor.customConfig.uploadImgMaxSize = 10 * 1024 * 1024

    /* 上传图片文件的参数名称 */
    editor.customConfig.uploadFileName = 'fileName'

    editor.customConfig.uploadImgParams = {
        //token: 'abcdef12345'   // 属性值会自动进行 encode ，此处无需 encode
    }

    /* 图片上传的配置 */
    editor.customConfig.uploadImgServer = '/upload'
    /* 上传到服务器的，不能和base64同时使用 */

    editor.create();


    /* 上传监听函数 */
    editor.customConfig.uploadImgHooks = {
        before: function (xhr, editor, files) {
            // 图片上传之前触发
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，files 是选择的图片文件
            alert(files)
        },
        success: function (xhr, editor, result) {
            // 图片上传并返回结果，图片插入成功之后触发
            console.log(xhr)
            console.log(editor)
            console.log(result)
            alert(result)
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
        },
        fail: function (xhr, editor, result) {
            // 图片上传并返回结果，但图片插入错误时触发
            alert(result)
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
        },
        error: function (xhr, editor) {
            // 图片上传出错时触发
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象

        },
        timeout: function (xhr, editor) {
            // 图片上传超时时触发
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
        },

        // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
        // （但是，服务器端返回的必须是一个 JSON 格式字符串！！！否则会报错）
        customInsert: function (insertImg, result, editor) {
            // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
            // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果

            // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
            var url = result.url
            insertImg(url)

            // result 必须是一个 JSON 格式字符串！！！否则报错
        }
    }

    function update() {
        document.getElementById('btn1').addEventListener('click', function () {
            // 读取 html
            alert(editor.txt.html());
            add();
        }, false)

    }

    function update() {


        var content = editor.txt.html();
        var title= $("#title").val();
        var aid= $("#aid").val();

        console.log(title);

        $.ajax({
            type: "post",
            url: "http://localhost:8080/sys/article/edit",
            data: {
                "content": content,
                "title": title,
                "aid": aid

            },
            success: function (r) {
                alert("修改成功");
            }
        });
    }
    //
    // window.onload = function () {
    //     //要执行的js代码段
    //     $.ajax({
    //         type: "get",
    //         url: "http://localhost:8080/sys/article/info",
    //         data: {
    //             "id": 15
    //
    //
    //         },
    //         success: function (result) {
    //             console.log(result.article.content);
    //             editor.txt.html(result.article.content);
    //             $("#title").val(result.article.title);
    //         }
    //     });
    // }

</script>

</body>
</html>